.DescriptionTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.DescriptionContent {
  text-align: justify;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.DescriptionTitleSmallScreen {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
}

.know-txt {
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}

.faMore {
  color: #f16981;
  font-size: 16px;
  top: 1px;
  display: inline-block;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
}
.product-dis{
  color: #394578 !important;
  font-size:15px !important;
}
.product-backg{
  margin-top: 1.5% !important; 
  margin-bottom: 1.5% !important;
}