.iconic {
    width: 30px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #394578;
    margin: 0px 8px;
    padding: 0px;
}
.spanstories{
    float: left;
    width: 59px;
    height: 21px;
    margin-top: 7px;
    background: url(https://alpha-assets.stylori.com/images/static/stories-icon.gif) no-repeat;

}