.noproductsfound{
    height: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.continueshopping{
    display: flex;
    align-items: center;
    justify-content: center; 
}