.noproductsfound {
  height: 125px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continueshopping {
  display: flex;
  align-items: center;
  justify-content: center;
}
#loadingss {
  opacity: .5;
  filter: alpha(opacity=5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  background: url(https://alpha-assets.stylori.com/images/static/loadingimg.gif) 50% 50% no-repeat #fff;
}

.overall-loader {
  /* margin-left: 40% !important;
  margin-top: 20% !important; */
}
.overlayloadingfilter {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 10000;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.GridListImg {
  width: 100%;
  height: auto,
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .GridListImg {
    width: 100%;
    height: auto,
  }
}

@media only screen and (min-width: 1200px) {
  .GridListImg {
    width: 1170px;
    height: auto,
  }
}

.GridConatiner {
  width: 100%;
  justify-content: center;
  display: flex;
}