.imagegaget1 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 247px;
    background-position: -18px -11px;
    width: 18px;
    height: 33px;
    margin-right: 4px;
}

.imagegaget2 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 302px;
    background-position: -65px -13px;
    width: 26px;
    height: 33px;
    margin-right: 4px;
}
.silverSvg img svg{
    /* background-color: red; */
    background-image: url("https://assets.stylori.com/images/Static+Pages/Other+Pages/fromthehouseofnac-pink.svg") no-repeat center;
    /* mask: url("https://assets.stylori.com/images/Static+Pages/Other+Pages/fromthehouseofnac-pink.svg") no-repeat center; */
}
.imagegaget3 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 302px;
    background-position: -115px -12px;
    width: 26px;
    height: 33px;
    margin-right: 4px;
}

.imagegaget4 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 302px;
    background-position: -161px -12px;
    width: 26px;
    height: 33px;
    margin-right: 4px;
}

.imagegaget5 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 302px;
    background-position: -205px -12px;
    width: 26px;
    height: 33px;
    margin-right: 4px;
}

.imagegaget6 {
    background-image: url("https://assets.stylori.com/images/static/details.svg");
    background-repeat: no-repeat;
    float: left;
    color: transparent;
    background-size: 302px;
    background-position: -247px -13px;
    width: 31px;
    height: 33px;
    margin-right: 4px;
}