/* component */
.starts-review{
    display: flex !important;
}
.star-rating {
    flex-direction: row-reverse;
    font-size:1.4em;
    justify-content:space-around;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#F16882!important;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#F16882!important;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#F16882!important;
  }
  
  