/* .credit-img {
    padding-left: 15px;
    padding-top: 20%;
    font-size: 12px !important;
}

.credit-contnt {
    padding-top: 18%;
    color: #CCC;
    font-size: 10px;
}

.imd-credit {
    width: 60px;
    height: 40px;
}

.text-f {
    width: 98% !important;
    float: right !important;
} */

.credit-button {
    margin: 8px 0px 0px 0px !important;
    padding: 7px 15px !important;
    border-radius: 0px !important;
    border: 1px solid #fe6c00 !important;
    font-size: 16px !important;
    min-width: 100px !important;
    background: #fe6c00 !important;
    color: #FFF !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-transform: none !important;
    box-shadow: #f55d07 1px 2px 6px 0px !important;
}

/* .credit-btn-div {
    float: right ! important;
    margin-top: 5%;
}

.font-netbanking {
    color: #394578 !important;
    padding-right: 15px !important;
    padding-left: 15px;
    text-align: center;
    font-size: 14px;
}
.amout-pay{
    width: 100%;
    font-size: 13px;
    margin-bottom: 2px;
    margin-bottom: 10px;
    color: #828282;
}

 
.panel-body{
    border: 1px solid #CCC;
}
.pay-index-subhed{
    float: left;
    background: #f0f0f0;
    border-right: 1px solid #d3d3d3;
    min-height: 400px;
    font-size: 12px!important;
    color: #333!important;
    width: 215px !important;
} 
.pay-index-subhed p{
    padding: 0 15px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    line-height: 20px;
}*/
.pay-index-subhed p:hover {
    background: #dfdfdf;
}

.code-icon {
    background: url(https://assets.stylori.com/images/static/icons/icon04.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
}

.net-bnk-icon {
    background: url(https://assets.stylori.com/images/static/icons/icon03.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
}

.dc-icon {
    background: url(https://assets.stylori.com/images/static/icons/icon01.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
}

.cc-icon {
    background: url(https://assets.stylori.com/images/static/icons/icon01.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
}

.selectedcolor {
    color: #fff;
    background-color: #d51f63
}

.selectedcolor:hover {
    color: #fff;
    background-color: #d51f63 !important
}

.respone-div {
    box-shadow: none !important;
    border: 1px solid #d3d3d3 !important;
    background: #a8a1a1;
}

.div_DARK {
    background: #a8a1a1 !important;
}

.py-head {
    font-size: 12px !important;
    font-weight: 400;
    margin-right: 0;
    text-align: left !important;
    padding: 5px;
    color: #333 !important;
    cursor: pointer;
    line-height: 21px;
}

.code-btn-top {
    font-size: 13px;
    color: #828282;
    border-top: 1px solid #828282;
    width: 100% !important;
    margin-top: 10px;
    line-height: 20px;
}

.rups {
    color: #ed1165 !important;
    width: 100% !important;
    margin: 0px !important;
    text-align: left !important;
    font-size: 25px !important;
}

.dz {
    width: 45vw !important;
    line-height: 25px;
    ;
}

.paymentsuccessfont {
    color: #05409a
}

.paymentcontent {
    padding: 20px
}

.horizontal {
    width: 100%;
    padding: 1px;
    margin-top: 10px !important;
}

.paymentdivider {
    margin-top: 20px;
    margin-left: 30px;
}

h6 {
    font-size: .8rem !important;
}

.svgiconsuccess {
    font-size: 3rem !important;
    fill: #8cbb58 !important;
}

@media only screen and (max-width: 600px) {
    .svgiconsuccess {
        font-size: 0.8rem !important;

    }

    .smallScreenClass {
        padding: 20px 2px 12px 2px
    }

    .container-font-size {
        font-size: 0.8rem !important;
    }

    .contant-center {
        font-size: 0.8rem;
    }
}

.contant-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-font-size {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.grand-item {
    margin-left: auto;
    display: flex;
}

.paymentsuccess-content {
    background: #f4f5f4;
    padding-left: 85px
}

.svgiconfail {
    font-size: 2rem !important;
    fill: #f76950 !important;
}

.retrypaymentbtn {
    background: #f26e1d !important;
    color: white !important;
    font-size: .6rem !important;
    padding: 5px 10px !important;
    text-transform: capitalize !important;
}

@media only screen and (max-width: 600px) {
    .grand-item {
        padding-left: 0;
        margin-top: 15px !important;
    }

    .paymentsuccess-content {
        background: #f4f5f4;
        padding-left: 0
    }
}

.bcjk {
    background: #394578 !important;
}

.whi {
    color: #fff !important;
}

.amout-pay {
    padding: 0px 0px 6px 0px
}

.unselected:hover {
    background: #f6f5f5 !important;
    /* color: #fff */
}