.order-ship {
    padding: 0 0 0 10px !important;
    border: 1px solid #CCC !important;
    box-shadow: none !important;
    min-height: 40px;
    font-size: 14px;
    color: #394578;
    /* margin-bottom: 10px !important; */
}
.extra-box{
box-shadow: none !important;

}
@media screen and (min-width: 600px) {
    .extra-box{
        box-shadow: none !important;
        padding: 10px;
        }
}

.pdng {
    padding: 10px !important;
}

.ship-text {
    width: 100% !important;
}

.dis-phn {
    padding: 5px 30px !important;
    color: #999;
    font-size: 14px;
    min-height: 40px;
}

.btm {
    border-bottom: 1px solid #CCC;
}

.ship-promo-btn {
    float: right !important;
    margin-top: 16px !important;
    width: 100% !important;
    height: 42px !important;
    padding: 0px !important;
    border-radius: 0px !important;
    text-align: center;
    min-width: 100px;
    font-size: 16px !important;
    background: #394579 !important;
    border: 1px solid #394579 !important;
    color: #fff !important;
    text-transform: none !important;
}
.sml{
    margin: 11px !important;
    margin-bottom: 0px !important;
}
.side-arrow-symbol {
    font-family: "FontAwesome" !important;
    font-size: 18px !important;
    color: #394578 !important;
    /* margin-right: 30px !important; */
}

.PrivateNotchedOutline-root-207 {
    border-radius: 0px !important;
}