/* .slick-list {
  padding: 0 20% 0 0 !important;
} */
/* the slides */
.sliderWithHeading .slick-slide {
  margin: 0 12px 0px 0px;
}

.sliderWithHeading .slick-track {
  width: max-content !important;
}

.sliderWithHeading .slick-slide:first-child {
  margin: 0 12px 0px 60px;
}

/* the parent */
/* .slick-list {
  margin: 0 -12px;
} */

.slick-list {
  /* padding-right: -20% !important; */
  /* margin: 0 -12px; */
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #606161 !important;
}

