.main_align {
    text-align: center !important;
}

.backgrund {
    background: lightgray !important;
}

.pay-index-subhed {
    float: left;
    padding-top: 14px !important;
    /* background: #f0f0f0; */
    font-size: 12px !important;
    color: #333 !important;
    /* width: 10vw !important;
    height: 80vh !important; */
    height: 70vh !important;
    /* overflow: scroll ! important; */
    /* position: fixed !important; */
}

.pay-index-subhed_datas {
    /* margin-top: 20px !important; */
    /* width: 70vw !important; */

}

.pay-index-subhed p {
    padding: 0 15px;
    border: 1px solid #eeeeee;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 500;
    /* line-height: 20px; */
    /* box-shadow: 1px 2px 35px 3px #DEDADA !important; */
    /* box-shadow: 1px 0px 10px 0px #DEDADA !important; */
}

/* .topPadding{
    padding-top: 5px;
}

/* .containerTopPadding{
    padding-top: 0px;
}

*/
/* @media screen and (max-width: 425px) {
    .add-bag {
        color: #333 !important;
        border: 1px solid #333 !important;
        text-align: center !important;
        float: left !important;
        font-size: 12px !important;
        border-radius: 5%;
        line-height: 10px;
        height: 30px;
        padding: 2px;
        width: 54%;
        cursor: pointer;
    }
    
} 
@media screen and (min-width: 426px) {
    .add-bag {
        color: #333 !important;
        border: 1px solid #333 !important;
        text-align: center !important;
        float: left !important;
        font-size: 12px !important;
        border-radius: 5%;
        line-height: 10px;
        height: 30px;
        padding: 2px;
        width: 15%;
        cursor: pointer;
    }
    
}  */
/* .paddingUp{
    padding-top: 15px;
} */
.topPaddingwish {
    padding-left: 40px;
}

@media screen and (max-width: 979px) {
    .topPaddingwish {
        padding-left: 0px;
    }

    /* .paddingUp{
        padding-top: 0px;    } */

}

.pay-index-subhed p:hover {
    background: #dfdfdf;
}

.order_addres div {
    /* width: 100%; */
    font-size: 13px;
    float: left !important;
}

.order_addres_user div {
    font-size: 13px;
    float: left !important;
}

.address_details {
    /* box-shadow: 5px 0px 58px 2px #DEDADA!important; */
    /* box-shadow: 1px 2px 13px 7px #DEDADA!important; */
    padding: 15px;
}

.inner-page-title {
    font-size: 22px;
    /* position: fixed !important; */
    padding-bottom: 10px;
    color: #ed1165;
    margin-top: 0px;
    font-weight: bold !important;
    position: sticky;
    z-index: 1000;
    width: 100%;
    background: #fff;
    top: 55px;
    display: flex;
    margin-top: 8px;
    padding-top: 25px;
}

.rups {
    color: rgba(241, 72, 128, 1);
    font-weight: 500;
    font-size: 22px;
}

/* .order_addres div.span {
    font-weight: bold;
} */

.panel_body {
    margin-top: 6% !important;
    /* overflow-y: scroll ! important; */
    /* height: 70vh !important; */
    width: 100% !important;
    border: none !important;
    /* box-shadow: 1px 0px 90px 18px #DEDADA !important; */
    /* box-shadow: 1px 2px 13px 7px #DEDADA !important; */
}

.bton_submit {
    background: #4caf50 !important;
    color: #FFF !important;
    padding: 4px 10px !important;
    margin-right: 40px;
    border-radius: 3px;
    margin-top: -3px;
    line-height: 20px;
    font-size: 12px !important;
}

.wishlist_img {
    margin-bottom: 6px;
    /* padding: 10px !important; */
    width: 70% !important;
    border: 1px solid #ccc !important;
}

.viewport-img {
    width: 100% !important;
    height: 100% !important;
}

.remove-product {
    background: url(https://assets.stylori.com/images/static/icon-close.png) no-repeat !important;
    width: 15px !important;
    height: 15px !important;
    cursor: pointer;
    padding-right: 10px !important;
}

.remove-product div {
    display: block !important;
}

.add-bag {
    color: #333 !important;
    border: 1px solid #333 !important;
    text-align: center !important;
    float: left !important;
    font-size: 12px !important;
    border-radius: 5%;
    line-height: 10px;
    height: 30px;
    padding: 2px;
    width: 54%;
    cursor: pointer;
}

.wislist_title {
    color: #394578;
    padding-bottom: 10px;
}

.wislist_price {
    color: rgba(241, 72, 128, 1);
    padding-bottom: 10px;
}

@media screen and (max-width: 320px) {
    .wislist_price {
        color: rgba(241, 72, 128, 1);
        padding-bottom: 5px;
    }

    .wislist_title {
        color: #394578;
        padding-bottom: 5px;
    }

}

.topPadding {
    padding-top: 0px;
    width: 100%;
}

@media screen and (max-width: 987px) {
    .topPadding {
        padding-top: 15px;
        width: 100%;
    }
}

.passwordRight {
    width: 28%;
}

/* @media screen and (max-width: 987px) and (min-width:519px) {
    .passwordRight{
        width: 50%;
    }
} */
@media screen and (max-width:519px) {
    .passwordRight {
        width: 42%;
    }
}




/* .MuiExpansionPanelDetails-root{
    display: none !important;
} */