/*home carousel*/
.homecarousel {
  width: 100% !important;

  padding: none !important;
}
/*home Subheader*/
.Subheader {
  background-color: #fff !important;
  box-shadow: none !important;
  color: #222 !important;
  border-bottom: 2px solid #eeeeee !important;
}
.SubheaderTopDiv {
  text-align: center;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.contents {
  color: #394578 !important;
  font-size: 12px;
  letter-spacing: 1px;
}
/*subcrousel*/
.subcrousel {
  margin-bottom: 0px;
  min-height: 258px;
  width: 100%;
  box-shadow: 0 0 5px #888 !important;
  line-height: 1.42857143;
}
.backButton {
  position: absolute !important;
  left: 0;
  top: 198px;
  margin-left: 50px !important;
  width: 29px;
  border: 1px solid #cdcdcd !important;
}
.backButton > span > svg {
  font-size: 3.5rem !important;
}
.nextButton > span > svg {
  font-size: 3.5rem !important;
}
.nextButton {
  position: absolute !important;
  right: 0 !important;
  top: 198px !important;
  margin-right: 50px !important;
  width: 29px;
  border: 1px solid #cdcdcd !important;
}
.MuiMobileStepper-dots {
  display: none !important;
}
.sub-button {
  margin-top: 10px !important;
  background-color: #394578 !important;
  color: #fff !important;
  padding: 4px 10px !important;
  border-color: #ccc !important;
}
.sub-scrl-card {
  width: 60%;
  height: 180px;
  box-shadow: 0 0 5px #888;
  border: 1px solid #cdcdcd !important;
  text-align: center !important;
}
/*socialmediacard*/
.socialmediacard {
  margin-top: 40px !important;
  margin-bottom: 0px;
  height: auto !important;
  background: none !important;
  width: 100%;
  box-shadow: 0 0 5px #888;
}
/*homefooter*/
.homefooter {
  margin-top: 40px !important;
  background-color: #ea5381;
  padding-top: 30px !important;
  padding-bottom: 0px !important;
  height: 100px;
}
.footer-content {
  color: #fff;
  padding-bottom: 5px;
  font-size: 12px;
  margin: 0 0 10px;
  line-height: 1.42857143;
}
