#loading {
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 100;
    width: 98vw;
    height: 100vh !important;
    background-image: url("https://alpha-assets.stylori.com/images/static/loadingimg.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.overall-loader {
    /* margin-left: 40% !important;
    margin-top: 20% !important; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    height: 100vh !important;
    background-size: 150% 150%;
    position: fixed; 
    top: 0;
    background-color: #ffffff !important;
    z-index: 99999999;
}