.animations {
  -webkit-animation: expand 6s;
}

@-webkit-keyframes expand {
  0% {
    height: 0px;
  }

  100% {
    height: 100px;
  }
}

.cart-ovralldiv-media {
  width: 100%
}

@media screen and (max-width: 1220px),
(min-width: 1220px) {
  .cart-ovralldiv-media {
    /* padding-left: 5% !important;
    padding-right: 5% !important; */
    /* width: 100%; */
  }
}

.classforimage {
  width: 100% !important;
  height: 100% !important;
  vertical-align: center;
}

@media screen and (max-width: 1438px) {
  .imagePrevios {
    width: 35px !important;
    height: 42px !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    background-image: url("https://alpha-assets.stylori.com/images/static/slider_icon.png") !important;
    background-position: -27px -229px !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-left: 0px;
    background: none;
    left: 0px;
    top: 58% !important;
    margin-top: -30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 9;
  }

  .imagenext {
    background-image: url("https://alpha-assets.stylori.com/images/static/slider_icon.png") !important;
    width: 35px !important;
    height: 42px !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    background-position: -160px -229px !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
    border-right: 0px;
    position: absolute;
    z-index: 9;
    float: right;
    right: 0px;
    top: 58% !important;
    margin-top: -30px;
  }
}

.imagePrevios {
  width: 35px !important;
  height: 42px !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  background-image: url("https://alpha-assets.stylori.com/images/static/slider_icon.png") !important;
  background-position: -27px -229px !important;
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-left: 0px;
  background: none;
  left: 0px;
  top: 55% !important;
  margin-top: -30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 9;
}

.imagepre {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.imagenext {
  background-image: url("https://alpha-assets.stylori.com/images/static/slider_icon.png") !important;
  width: 35px !important;
  height: 42px !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  background-position: -160px -229px !important;
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-right: 0px;
  position: absolute;
  z-index: 9;
  float: right;
  right: 0px;
  top: 55% !important;
  margin-top: -30px;
}

.image1 {
  background-image: url("https://assets.stylori.com/images/static/sprite-images.png");
  background-position: -521px 50px;
  width: 28px;
  min-height: 30px;
  margin: 4px 0px 0px 0px !important;
}

.image2 {
  background-image: url("https://assets.stylori.com/images/static/sprite-images.png");
  background-position: -603px 50px;
  width: 28px;
  min-height: 30px;
  margin: 4px 0px 0px 0px !important;
}

.image3 {
  background-image: url("https://assets.stylori.com/images/static/sprite-images.png");
  background-position: -108px 50px;
  width: 28px;
  min-height: 30px;
  margin: 4px 0px 0px 0px !important;
}

.image4 {
  background-image: url("https://assets.stylori.com/images/static/sprite-images.png");
  background-position: -273px 50px;
  width: 28px;
  min-height: 30px;
  margin: 4px 0px 0px 0px !important;
}

.image5 {
  background-image: url("https://assets.stylori.com/images/static/sprite-images.png");
  background-position: -191px 50px;
  width: 28px;
  min-height: 30px;
  margin: 4px 0px 0px 0px !important;
}

.wrappercustomer {
  font-family: sans-serif;
  width: 100% !important;
  /* height: 35px; */
  color: #394578 !important;
  display: flex !important;
  justify-content: center;
}

.transition {
  height: 1px;
  background-color: #394578;
  margin: 0;
  z-index: 11;
  position: relative;
}

.loaders {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.loaders:before {
  display: block;
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  background-color: #222;
  animation: loading 5.3s linear infinite;
}