#loadings {
  display: block;
  margin: auto;
  /* background-image: url("https://alpha-assets.stylori.com/images/static/loadingimg.gif"); */
  background-repeat: no-repeat;
  background-position: center;
}

.one-day-ship-listing-page__ {
  font-weight: 600;
  z-index: 5 !important;
  background: #ed1165 !important;
  height: 28px !important;
  width: 27px !important;
  position: absolute !important;
  text-align: center !important;
  line-height: 16px !important;
  font-size: 11px !important;
  /* font: 600 16px sans-serif; */
  color: white !important;
  border: 0 !important;
}
.one-day-ship-listing-page__:after {
  z-index: 999 !important;
  content: "" !important;
  position: absolute !important;
  bottom: -27px !important;
  left: 0 !important;
  height: 0 !important;
  width: 0 !important;
  border: solid 13.5px #ed1165 !important;
  border-bottom-color: transparent !important;
}
.one-day-ship-listing-page__:hover {
  z-index: 999 !important;
  background: #ed1165 !important;
}
.one-day-ship-listing-page__:hover:after {
  z-index: 999 !important;
  border-color: #ed1165 !important;
  border-bottom-color: transparent !important;
}
.one-day-ship-listing-page {
  width: 24px;
  height: 22px;
  /* z-index: 2; */
  position: relative;
  left: 10px;
  top: 10px;
  /* background-image: url('https://alpha-assets.stylori.com/images/static/product-details-icons.png'); */
  /* top: 5px; */
  background-position: -102px -37px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.one-day-ship-listing-page-label {
  display: none;
}

.one-day-ship-listing-page-label:hover {
  display: block;
  color: #F699A3;
  font-size: 11px;
}

.overall-loaders {
  display: flex;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -490px 0;
  }

  100% {
    background-position: 490px 0;
  }
}

.shine {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  /* min-height:20px; */
  background-image: -webkit-linear-gradient(left,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%);
  background-size: 980px 898px;
  /* height: 898px; */
  position: relative;
}

.imgDiv {
  width: auto;
  height: auto;
  border: none;
}

.price {
  height: 20px;
  width: 100px;
}

.title {
  height: 40px;
  width: 100%;
  word-wrap: break-word;
  font-weight: bold !important;

}

.card-control {
  z-index: 2;
  position: absolute;
}

.card-control-topleft {
  top: 0px;
  left: 0px;
}

.card-control-bottomleft {
  bottom: 30%;
  left: 0px;
}

.card-control-topright {
  top: 0px;
  right: 0px;
}

.card-control-bottomright {
  bottom: 30%;
  right: 0px;
}

.productLayoutRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  /* background-color: whitesmoke; */
  height: 100%;
}

.productLayoutGridList {
  width: 100%;
  height: auto;
  /* text-align: center; */
}

.imageHeight {
  min-height: 144px;
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .imageHeight {
    min-height: 144px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 425px) {
  .imageHeight {
    min-height: 168px;
  }
}

@media only screen and (max-width: 425px) and (min-width: 377px) {
  .imageHeight {
    min-height: 144px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 426px) {
  .imageHeight {
    min-height: 191px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .imageHeight {
    min-height: 270px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .imageHeight {
    min-height: 172px;
  }
}

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .imageHeight {
    min-height: 221px;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1440px) {
  .imageHeight {
    min-height: 259px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1881px) {
  .imageHeight {
    min-height: 275px;
  }
}

@media only screen and (max-width: 2400px) and (min-width: 2000px) {
  .imageHeight {
    min-height: 386px;
  }
}

@media only screen and (max-width: 2540px) and (min-width: 2401px) {
  .imageHeight {
    min-height: 475px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 2541px) {
  .imageHeight {
    min-height: 340px;
  }
}