#loadings {
  display: block;
  margin: auto;
  /* background-image: url("https://alpha-assets.stylori.com/images/static/loadingimg.gif"); */
  background-repeat: no-repeat;
  background-position: center;
}
.one-day-ship-listing-page {
  width: 24px;
  height: 22px;
  /* z-index: 2; */
  position: absolute;
  top: 9px;
  left: 19px;
  background-image: url('https://alpha-assets.stylori.com/images/static/product-details-icons.png');
  /* top: 5px; */
  background-position: -102px -37px;
  background-repeat: no-repeat;
  cursor:pointer;
}

.one-day-ship-listing-page-label {
display:none;
}
.one-day-ship-listing-page-label:hover {
display:block;
    color: #F699A3;
    font-size: 11px;
}
.overall-loaders {
  display: flex;
}
  @keyframes placeHolderShimmer {
    0% {
      background-position: -490px 0;
    }
    100% {
      background-position: 490px 0;
    }
   }
   .shine{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
/* min-height:20px; */
    background-image: -webkit-linear-gradient(
      left,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
    background-size: 980px 898px;
    /* height: 898px; */
    position: relative;
   }
   .imgDiv{
     width: auto;
     height:auto;
     border:none;
   }
  .price {
    height: 20px;
    width: 100px;
  }
  
  .title {
    height: 40px;
    width: 100%;
    word-wrap: break-word;
    font-weight: bold !important;

  }

  .card-control {
    z-index: 2;
    position: absolute;
  }
  
  .card-control-topleft {
    top: 0px;
    left: 0px;
  }
  .card-control-bottomleft {
    bottom: 30%;
    left: 0px;
  }
  .card-control-topright {
    top: 0px;
    right: 0px;
  }
  .card-control-bottomright {
    bottom: 30%;
    right: 0px;
  }
  .productLayoutRoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    /* background-color: whitesmoke; */
    height: 100%;
  }
  .productLayoutGridList{
    width: 100%;
    height: auto;
    text-align: center;
  }
