@font-face {
    font-family: 'Robot-Black';
    src: url('./roboto/Roboto-Black.ttf');
  }
  @font-face {
    font-family: 'Robot-BlackItalic';
    src: url('./roboto/Roboto-BlackItalic.ttf');
  }
  @font-face {
    font-family: 'Robot-Bold';
    src: url('./roboto/Roboto-Bold.ttf');
  } 
  @font-face {
    font-family: 'Robot-Italic';
    src: url('./roboto/Roboto-Italic.ttf');
  }
  @font-face {
    font-family: 'Robot-Medium';
    src: url('./roboto/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: 'Robot-MediumItalic';
    src: url('./roboto/Roboto-MediumItalic.ttf');
  }
  @font-face {
    font-family: 'Robot-Regular';
    src: url('./roboto/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: 'Robot-Thin';
    src: url('./roboto/Roboto-Thin.ttf');
  }
  @font-face {
    font-family: 'Robot-ThinItalic';
    src: url('./roboto/Roboto-ThinItalic.ttf');
  }