@import url("");


.main_align {
    text-align: center !important;
}

.backgrund {
    background: #d51f63 !important;
    color: #fff;

}

.pay-index-subhed {
    float: left;
    margin-top: 14px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    box-shadow: 1px 2px 7px 4px #DEDADA;
    /* background: #f0f0f0; */
    font-size: 12px !important;
    color: #333 !important;
    /* width: 10vw !important;
    height: 80vh !important; */
    /* height: 70vh !important; */
    /* overflow: scroll ! important; */
    /* position: fixed !important; */
}

.logedout {
    color: #d51f63 !important
}

@media screen and (min-width: 959px) {
    .pay-index-subhed_datas {
        box-shadow: 1px 2px 7px 4px #DEDADA;
        margin-top: 0px !important;
        margin-left: 40px;
        padding: 16px 20px;
    }
}

@media screen and (min-width: 959px) {
    .pay-index-subhed_da {
        box-shadow: 1px 2px 7px 4px #DEDADA;
        margin-top: 14px !important;
        margin: 40px;
        padding: 16px 20px;
    }
}


@media screen and (min-width: 1300px) {
    .classGrid {
        line-height: 50px !important;
    }
}

@media screen and (min-width: 300px) {
    .classGrid {
        line-height: 25px !important;
    }
}

.pay-index-subhed p {
    padding: 0 15px;
    border-bottom: 1px solid #eeeeee;
    /* border: 1px solid #eeeeee; */
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 500;
    /* line-height: 20px; */
    /* box-shadow: 1px 2px 35px 3px #DEDADA !important; */
    /* box-shadow: 1px 0px 10px 0px #DEDADA !important; */
}

/* .topPadding{
    padding-top: 5px;
}

/* .containerTopPadding{
    padding-top: 0px;
}

*/
/* @media screen and (max-width: 425px) {
    .add-bag {
        color: #333 !important;
        border: 1px solid #333 !important;
        text-align: center !important;
        float: left !important;
        font-size: 12px !important;
        border-radius: 5%;
        line-height: 10px;
        height: 30px;
        padding: 2px;
        width: 54%;
        cursor: pointer;
    }
    
} 
@media screen and (min-width: 426px) {
    .add-bag {
        color: #333 !important;
        border: 1px solid #333 !important;
        text-align: center !important;
        float: left !important;
        font-size: 12px !important;
        border-radius: 5%;
        line-height: 10px;
        height: 30px;
        padding: 2px;
        width: 15%;
        cursor: pointer;
    }
    
}  */
/* .paddingUp{
    padding-top: 15px;
} */
/* .topPaddingwish {
    padding-left: 40px;
} */
/* .inner-page-title1 {
   /* width: 85% !important; */
/* margin: auto; 
} */


.pay-index-subhed p:hover {
    background: #dfdfdf;
}

.order_addres div {
    width: 100%;
    font-size: 13px;
    justify-content: left;
    float: left !important;
    line-height: 1.8;

}

.order_addres_user div {
    font-size: 13px;
    float: left !important;
}


@media screen and (max-width: 599px) {
    .order_addres_user {

        padding-top: 25px;

    }

    .inner-page-title1 {
        font-size: 20px;
        /* position: fixed !important; */
        padding-bottom: 10px;
        color: #ed1165;

        font-weight: bold !important;
        position: sticky;
        z-index: 200;
        /* width: 85% !important; */
        background: #fff;
        /* top:55px; */
        display: flex;
        margin-top: 25px !important;

        padding-top: 12px !important;
    }

    .main_container {
        width: 75% !important;
        margin: auto;
    }
}


@media screen and (min-width: 600px) {
    .wishlist_img {
        margin-bottom: 6px;
        /* padding: 10px !important; */
        /* width: 77% !important; */
        border: 1px solid #eee !important;
        margin-right: 5px;
    }

    .inner-page-title1 {
        /* width: 90% !important; */
        /* margin: auto !important; */
        margin-top: 20px !important;
        padding-top: 12px !important;
    }

}

@media screen and (max-width: 950px) {
    .pay-index-subhed_datas {
        padding-left: 0px !important;

    }

    .pay-index-subhed_da {
        padding-left: 0px !important;

    }

    .inner-page-title1 {
        font-size: 20px;
        /* position: fixed !important; */
        padding-bottom: 10px;
        color: #ed1165;

        font-weight: bold !important;
        position: sticky;
        z-index: 200;
        /* width: 85% !important; */
        background: #fff;
        /* top:55px; */
        display: flex;
        margin-top: 25px !important;
        padding-top: 12px !important;
    }

    .topPaddingwish {
        padding-left: 0px;
    }
}

@media screen and (max-device-width: 1200px) {
    .main_container {
        width: 80% !important;
        margin: auto;
    }

    .inner-page-title1 {
        font-size: 20px;
        /* position: fixed !important; */
        padding-bottom: 10px;
        color: #ed1165;

        font-weight: bold !important;
        position: sticky;
        z-index: 200;
        width: 90% !important;
        background: #fff;
        /* top:55px; */
        display: flex;
        margin-top: 25px !important;
        padding-top: 12px !important;
    }

    /* .topPaddingwish {
        padding-left: 40px ;
    }  */
}

@media screen and (min-device-width: 1200px) {
    .inner-page-title1 {
        font-size: 20px;
        /* position: fixed !important; */
        padding-bottom: 10px;
        color: #ed1165;

        font-weight: bold !important;
        position: sticky;
        z-index: 200;
        width: 90% !important;
        background: #fff;
        /* top:55px; */
        display: flex;
        margin-top: 25px !important;
        padding-top: 12px !important;
    }

    .main_container {
        width: 75% !important;
        margin: auto;
    }
}

/* .address_details {
    /* box-shadow: 5px 0px 58px 2px #DEDADA!important; */
/* box-shadow: 1px 2px 13px 7px #DEDADA!important; */
/* padding: 15px; 
} */

.inner-page-title {
    font-size: 22px;
    /* position: fixed !important; */
    padding-bottom: 10px;
    color: #ed1165;
    margin-top: 0px;
    font-weight: bold !important;
    position: sticky;
    z-index: 1000;
    width: 100%;
    background: #fff;
    top: 55px;
    display: flex;
    margin-top: 8px;
    padding-top: 25px;
}

.inner-page-title1 {
    font-size: 22px;
    /* position: fixed !important; */
    padding-bottom: 10px;
    color: #ed1165;
    margin-top: 0px;
    font-weight: bold !important;
    position: sticky;
    z-index: 200;
    width: 100%;
    justify-content: center;
    display: flex;
    background: #fff;
    /* top:55px; */
    display: flex;
    margin-top: 16px;
    /* margin: auto; */
    padding-top: 12px;
}

.rups {
    color: rgba(241, 72, 128, 1);
    font-weight: 500;
    font-size: 22px;
}

/* .order_addres div.span {
    font-weight: bold;
} */

.panel_body {
    margin-top: 6% !important;
    /* overflow-y: scroll ! important; */
    /* height: 70vh !important; */
    width: 90% !important;
    margin: auto !important;
    border: none !important;
    /* box-shadow: 1px 0px 90px 18px #DEDADA !important; */
    /* box-shadow: 1px 2px 13px 7px #DEDADA !important; */
}

.bton_submit {
    background: #4caf50 !important;
    color: #FFF !important;
    padding: 4px 10px !important;
    margin-right: 40px;
    border-radius: 3px;
    margin-top: -3px;
    line-height: 20px;
    font-size: 12px !important;
}

.wishlist_img {
    margin-bottom: 6px;
    /* padding: 10px !important; */
    /* width: 77% !important; */
    border: 1px solid #eee !important;
}

.viewport-img {
    width: 100% !important;
    height: 100% !important;
}

.remove-product {
    background: url(https://assets.stylori.com/images/static/icon-close.png) no-repeat !important;
    width: 15px !important;
    height: 15px !important;
    cursor: pointer;
    padding-right: 10px !important;
}

.remove-product div {
    display: block !important;
}

.add-bag {
    color: #333 !important;
    border: 1px solid #333 !important;
    text-align: center !important;
    float: left !important;
    font-size: 12px !important;
    border-radius: 5%;
    line-height: 30px;
    height: 30px;
    padding: 2px;
    width: 54%;
    cursor: pointer;
}

.wislist_title {
    color: #394578;
    padding-bottom: 10px;
}

.wislist_price {
    color: rgba(241, 72, 128, 1);
    padding-bottom: 10px;
}

@media screen and (max-width: 320px) {
    .wislist_price {
        color: rgba(241, 72, 128, 1);
        padding-bottom: 5px;
    }

    .wislist_title {
        color: #394578;
        padding-bottom: 5px;
    }

}

.topPadding {
    padding-top: 0px;
    width: 100%;
}

@media screen and (max-width: 987px) {
    .topPadding {
        padding-top: 15px;
        width: 100%;
    }
}

.passwordRight {
    width: 28%;
}

/* @media screen and (max-width: 987px) and (min-width:519px) {
    .passwordRight{
        width: 50%;
    }
} */
@media screen and (max-width:519px) {
    .passwordRight {
        width: 42%;
    }
}




/* .MuiExpansionPanelDetails-root{
    display: none !important;
} */
.MuiExpansionPanel-root:before {
    margin-top: 0px !important;
}

.textWidth {
    width: 250px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #394578;
    font-weight: 700;
    padding-left: 8px;
}

.textWidth_ {
    width: 240px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #394578;
    font-weight: 700;
}