@import "../../fonts/font.css";

/* .arrow {
  fill: #394578 !important;
} */
.MuiTypography-h4,
.MuiInputBase-input {
  /* font-family: "Roboto" !important; */
}

.filter-drawer-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;
}

.fil-submenu-icons {
  fill: blue !important;
  padding: 0 9px;
} 

.fil-drawer-arrow {
  fill: rgba(0, 0, 0, 0.25) !important;
}
.filter_page_layout{
  /* justify-content: center;
  width: 100%;
  height: 100%;
  min-height: auto;
  max-height: 100vh;
  overflow-y: auto !important;
  background-size: 150% 150%;
  top: 0;
  background-color: #fff; */
}
.fil-list-items {
  padding: 0px 0 0px 6px !important;
  letter-spacing: 0.01071em;
  color: #666;
  font-size: 1rem !important;
  /* font-weight: bold; */
  user-select: none;
  cursor: pointer;
}

.fil-submenu-list {
  width: 100%;
  margin: 0;
  float: none;
  font-size: 12px;
  position: relative;
  border-left: 3px solid #fff;
  padding: 0px 5px !important;
  line-height: 1;
}

.fil-submenu-list li {
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

.fil-main-list span {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* .main-fileer-header header{
  top:152px;
  position: sticky !important;
 
} */

/* .main-fileer-header { */
/* margin-top:200px; */
/* width: 100%;


 
} */

.main-filter {
  height: 58px !important;
  background-color: #fff !important;
  box-shadow: none;
  z-index: 5;
  border: 1px solid #e3e3e3;
  margin-top: -2px;
  box-shadow: none !important;
  color: #394578 !important;
}

.fil-drawer-head-filter-arrow {
  position: absolute;
  /* margin-left: 0%; */
  top: 4%;
  right: 98%;
}

.fil-drawer-head {
  background-color: white;
  font-size: 18px !important;
  font-weight: normal;
}

.fil-drawer-head-sort {
  position: absolute;
  right: 7%;
  top: 23%;
  cursor: pointer;
}

.fil-drawer-sort_font {
  background-color: white;
  font-size: 18px !important;
  font-weight: normal;
}

.fil-drawer-head-sort-expand {
  position: absolute;
  top: 10%;
}

.fil-drawer-filter {
  position: relative;
  margin-left: 5%;
  cursor: pointer;
}

.price-txt input {
  color: #394578;
  font-weight: 600;
  font-size: 12px !important;
  width: 65px;
  height: 35px !important;
  overflow: hidden !important;
}

.price-btn {
  font-size: 12px !important;
  color: #fff !important;
  height: 35px !important;
  margin-top: 24% !important;
  box-shadow: none !important;
}

/*mobile filter*/
.filter-mbl-font,
.filter-mbl-fonts {
  /* padding: 2px; */
  /* color: #394578; */
  cursor: pointer;
  /* font-family: "Roboto" !important; */
  /* font-size: 15px; */
  /* font-weight: 600 !important; */
}

.fnts {
  font-size: 12px !important;
}

.filter-mbl-fonted :hover {
  color: white !important
}

/*mobile filter*/
.filter-mbl-font span {
  /* padding: 2px; */
  /* color: #394578; */
  color: #666;
  cursor: pointer;
  /* font-family: "Roboto" !important; */
  font-size: 12px !important;
  /* font-weight: 600 !important; */
}

.p,
.MuiGrid-spacing-xs-2 {
  margin-top: 0 !important;
}

/* .MuiGrid-spacing-xs-2 > .MuiGrid-item{
  padding-top: 0px !important;
} */
.mbl-filter-list {
  border-bottom: '1px solid #efeeee';

}

.mbl-filter-list :hover {
  /* background-image: linear-gradient(to left, #f9e3e3, rgba(246, 153, 163, 1)) !important; */
  color: #fff !important;
}

.mbl-filter-list :hover span {

  /* background-color: #394578 !important; */
  /* background-image: linear-gradient(to left, #f9e3e3, rgba(246, 153, 163, 1)); */
  color: #06AB9F !important;
  background-color: #fff;
  font-weight: 500
}

/* .mbl-filter-list :hover {
  background-color: #394578 !important;
  color: #fff !important;
} */

.filter-fixed {
  text-align: center;
  background-color: whitesmoke !important;
  position: fixed !important;
  bottom: 0 !important;
  top: auto !important;
}

.headerFilter header {
  position: relative !important;
}

/* .DrawerDiv div { */
/* position: absolute  !important; */
/* top:'auto'
} */
.DrawerDiv div {
  top: "auto";
}

.drawer {
  height: 300px !important;
}
.SliderFilter{
  min-height: calc(100vh - 136px);
  max-height: calc(100vh - 136px);
}
.SliderFilter ul {
  position: sticky;
  z-index: '6';
  top: '150px';
}


.scrollBarFilter::-webkit-scrollbar {
  width: 0.2em;
}

.scrollBarFilter::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 00.3);
}

.scrollBarFilter::-webkit-scrollbar-thumb {
  background-color: #394578;
}

.filterButtonMobile {
  position: fixed;
  bottom: 0;
}

.filterBtnMobile {
  box-shadow: none !important;
  padding-left: 25% !important;
  padding-right: 25% !important;
  color: #f2f2f2 !important;
  background-color: rgb(251, 100, 27) !important;
}

@media only screen and (min-width: 320px) {}

.subFilterSize {
  line-height: 0.5rem !important;
  font-size: 0.9rem !important;
}

.fil-submenu-icons svg {
  font-size: 1.2rem;
  /* border-color: #dddddd; */
  fill: rgba(58, 69, 120, 1) !important;
}

.sublistDisplay {
  display: none !important;
}

.header-chips .MuiSvgIcon-root {
  font-size: 15px !important;
  color: #337ab7 !important;
}

.header-chips-text {
  color: #3a4578 !important;
  margin: 1px 5px 3px 0 !important;
  max-width: 100%;
  background: none !important;
  background-clip: padding-box !important;
}

.Chip {
  line-height: 64px !important;
}

.MuiChip-label {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.search-choice-close {
  position: absolute;
  display: block;
  width: 12px !important;
  height: 12px !important;
  background: url(https://alpha-assets.stylori.com/images/static/STY_ICON.png) -42px 1px no-repeat;
  font-size: 1px !important;
  margin-top: -1px !important;
  margin-left: -14px;
  cursor: pointer;
}

.filterOpen {

        -webkit-animation: conditionalOpen 0.5s normal forwards ease-in-out;
           -moz-animation: conditionalOpen 0.5s normal forwards ease-in-out;
                animation: conditionalOpen 0.5s normal forwards ease-in-out;
        -webkit-transform-origin: 50% 0%;
           -moz-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }
.filterClose {
 
    -webkit-animation: conditionalClose 1s normal forwards ease-in-out;
       -moz-animation: conditionalClose 1s normal forwards ease-in-out;
            animation: conditionalClose 1s normal forwards ease-in-out;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
}
/* // Opening and closing motion for filter fieldset */
@-webkit-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@-moz-keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}
@keyframes conditionalOpen {
    from { transform: scaleY(0) }
    to { transform: scaleY(1) }
}

@-webkit-keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}
@-moz-keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}
@keyframes conditionalClose {
    from { transform: scaleY(1) }
    to { transform: scaleY(0) }
}

#inTurnFadingTextG{
	/* width:222px; */
	margin:auto;
}

.inTurnFadingTextG{
	color:rgb(237,17,101);
	font-family:Arial;
	font-size:23px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_inTurnFadingTextG;
		-o-animation-name:bounce_inTurnFadingTextG;
		-ms-animation-name:bounce_inTurnFadingTextG;
		-webkit-animation-name:bounce_inTurnFadingTextG;
		-moz-animation-name:bounce_inTurnFadingTextG;
	animation-duration:1.271s;
		-o-animation-duration:1.271s;
		-ms-animation-duration:1.271s;
		-webkit-animation-duration:1.271s;
		-moz-animation-duration:1.271s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#inTurnFadingTextG_1{
	animation-delay:0.4525s;
		-o-animation-delay:0.4525s;
		-ms-animation-delay:0.4525s;
		-webkit-animation-delay:0.4525s;
		-moz-animation-delay:0.4525s;
}
#inTurnFadingTextG_2{
	animation-delay:0.549s;
		-o-animation-delay:0.549s;
		-ms-animation-delay:0.549s;
		-webkit-animation-delay:0.549s;
		-moz-animation-delay:0.549s;
}
#inTurnFadingTextG_3{
	animation-delay:0.6355s;
		-o-animation-delay:0.6355s;
		-ms-animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
		-moz-animation-delay:0.6355s;
}
#inTurnFadingTextG_4{
	animation-delay:0.732s;
		-o-animation-delay:0.732s;
		-ms-animation-delay:0.732s;
		-webkit-animation-delay:0.732s;
		-moz-animation-delay:0.732s;
}
#inTurnFadingTextG_5{
	animation-delay:0.8185s;
		-o-animation-delay:0.8185s;
		-ms-animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
		-moz-animation-delay:0.8185s;
}
#inTurnFadingTextG_6{
	animation-delay:0.905s;
		-o-animation-delay:0.905s;
		-ms-animation-delay:0.905s;
		-webkit-animation-delay:0.905s;
		-moz-animation-delay:0.905s;
}
#inTurnFadingTextG_7{
	animation-delay:1.0015s;
		-o-animation-delay:1.0015s;
		-ms-animation-delay:1.0015s;
		-webkit-animation-delay:1.0015s;
		-moz-animation-delay:1.0015s;
}
#inTurnFadingTextG_8{
	animation-delay:1.088s;
		-o-animation-delay:1.088s;
		-ms-animation-delay:1.088s;
		-webkit-animation-delay:1.088s;
		-moz-animation-delay:1.088s;
}
#inTurnFadingTextG_9{
	animation-delay:1.1845s;
		-o-animation-delay:1.1845s;
		-ms-animation-delay:1.1845s;
		-webkit-animation-delay:1.1845s;
		-moz-animation-delay:1.1845s;
}
#inTurnFadingTextG_10{
	animation-delay:1.271s;
		-o-animation-delay:1.271s;
		-ms-animation-delay:1.271s;
		-webkit-animation-delay:1.271s;
		-moz-animation-delay:1.271s;
}
#inTurnFadingTextG_11{
	animation-delay:1.3675s;
		-o-animation-delay:1.3675s;
		-ms-animation-delay:1.3675s;
		-webkit-animation-delay:1.3675s;
		-moz-animation-delay:1.3675s;
}




@keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgba(237,17,101,0.97);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgba(237,17,101,0.97);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgba(237,17,101,0.97);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgba(237,17,101,0.97);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgba(237,17,101,0.97);
	}

	100%{
		color:rgb(255,255,255);
	}
}