.pricing {
    padding-bottom: 5px !important;
    text-align: left !important;
    font-weight: bold !important;
    color: #394578 !important;
}

.pricing-p {
    display: flex !important;
    align-items: center !important;
}