.card {
  min-width: 175;
  max-width: 255;
  padding: 0;
  padding: 0px !important;
  margin: 0px;
}

.cardSortSmallScreen {
  width: 100vw !important;

  margin: 0px;

  background-color: whitesmoke !important;
  text-align: center;
}
.cardSortSmallScreen label {
  width: 100vw;
  padding-left: 20%;

  font-size: 12px;
  font-family: Roboto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc5c;
}

