.divider{
    width: 0.55px;
    background-color: #c1c1c1;
    height: 30px;
    margin: 5px;
  }
  
  .button{
    text-align: center;
    background-color: #fff !important;
    text-transform: none !important;
  }
  
  .textMain{
    font-family: 'Playfair Display', serif !important
  }
  
  .textSide{
    font-family: 'Playfair Display', serif !important;
    color:#D32564 !important;
  }
  
  .forgotPassword{
    float: right;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
  }
  .signup{
    text-align: center;
    font-size: 12px;
  }
  
  .login{
    margin-top: -10px;
    opacity: 0.75;
  }
  