.head-icons{
    font-size: 20px !important;
    margin-top: 18px !important;
  }.head-icons i{
    margin-left: 24px;
    font-size: 20px;
    background-size: 219px;
    background-position: -87px 4px;
    cursor: pointer;
    color: #394578;
  }.head-icons i:hover {
    font-size: 17px;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  .header-bottom{
    background:linear-gradient(to left,#fff,#ed1165,#fff);
    height: 1px;
    border: 1px solid #f1f1f1;
  }
  .header-appbar{
    background-color: #fff !important;
    text-align: center !important;
    top: 0;
    padding-top: 10px;
    width: 100%;
    line-height: 1.42857143;
    font-size: 12px;
    font-family: sans-serif;
    box-shadow: none !important;

  }.header-navbar-list{
    padding: 22px;
    height: 55px!important;

  }.header-navbar-list a{
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #394578;
    text-transform: capitalize;
    font-size: 15px !important;
    text-decoration: none !important;
    margin-left: 3%;
  }.img{
    height: 40px !important;
    width: 100%;
  }.search{
    border: 1px solid #ccc;
    width: 165px!important;
    height: 26px!important;
    color: #394578!important;
    padding: 2px 5px!important;
    font-family: inherit !important;
  }.MuiBadge-colorSecondary{
    background-color:  #F699A3 !important;
    top: -6px !important;
  }.header-appbar-moblie{
    background-color: #fff !important;
    text-align: center !important;
    top: 0;
      width: 100%;
    line-height: 1.42857143;
    font-size: 12px;
    font-family: sans-serif;
    box-shadow: none !important;
    box-shadow: 1px 1px 1px #ccc !important;
  }.mobli-icon i{
    font-size: 18px;
    cursor: pointer;
    color: #394578;
    margin-left: 10px;
    border-left: 1px solid #c3c3c3;
    text-align: center !important;
    width: 25px;
  }.list-items{
    text-align: left;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #394578;
    text-transform: capitalize;
  }.Jew-mbl-head-list {
    width: 100%;
    margin: 0;
    float: none;
    font-size: 12px;
    padding: 14px 11px 14px 18px;
    position: relative;
    border-left: 3px solid #fff;
    color: #394578;
    line-height: 1.42857143;
    letter-spacing: 1px !important;
  }.drawer-menu{
    background-color: #ededed;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 11px!important;
    color: #394578;
    line-height: 1.42857143;
  }.drawer-list{
    border-bottom:1px solid rgba(0,0,0,.13) !important;
  }.drawer-arrow{
    /* border-left: 2px solid #e0e0e0 !important; */
    fill: rgba(0,0,0,.25) !important;
    height: 44px;
  }