@keyframes pulse_animation {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
 }
  .footer-icons i:hover {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
  }
  .borderCircle{
    width: 30px !important;
    height: 40px;
    border:1px solid #ffffff;
    color: rgb(255, 255, 255);
    background: transparent;
    border-radius: 50%;
    
}
.snackBar div{
  color: #fff;
  font-weight: 500;
  background-color: #4caf50;
  font-weight: 500;
}
.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% { left: -5px; }
  100% { right: -5px; }
}