.selectionHead {
    position: relative;
    display: block;
    max-width: 600px;
    margin: 0 auto !important;
    height: 0px;
    margin-bottom: 35px !important;
    padding-left: 27px;
    padding-right: 27px;
}

.headerTestimony {
    margin: 0px !important;
    width: auto !important;
    display: block;
    font-size: 17px;
    text-align: center;
}

.Typograpytestimony {
    padding: 0px 10px;
    background: #fff;
    line-height: 0.5;
    color: #394578;
    font-size: 23px;
    font-weight: normal;
    position: relative;
    z-index: 9;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
    .Typograpytestimony {
        font-size: 15px !important;

    }
}

.LeftImage {
    width: 27px;
    height: 12px;
    background: url('https://assets.stylori.com/images/static/home/icon-left1.png') !important;
    position: absolute;
    left: 0px;
    z-index: 9;
    top: 5px;
}



.rightImage {
    width: 27px;
    height: 12px;
    background: url('https://assets.stylori.com/images/static/home/icon-left2.png') !important;
    position: absolute;
    right: 0px;
    z-index: 9;
    top: 5px;
}

.selectionHead .headerTestimony:after {
    content: "";
    position: absolute;
    left: 0px;
    height: 1px;
    top: 11px;
    width: 100%;
    background: #ebe0c1;
}