.ckcut-main-body{
        background: #dfdfdf !important;
        color: #394578 !important;
        border-color: #ddd !important;
        padding: 0;
        margin-bottom: 10px !important;
    
}

.avart-ckc {
    border-radius: 29px;
    border: 2px solid #394578;
    text-align: center;
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    float: left;
    margin-right: 15px;
    margin-left: 15px !important;
    font-weight: 700;
    background: #394578 !important;
    color: #FFF;
    padding: 5px !important;
}

.text-chck {
    padding: 8px 15px;
    color: #394578;
    font-weight: 700 !important;
}

.arrow-chek,
.MuiSvgIcon-root,
.MuiExpansionPanelDetails-root,
.MuiExpansionPanelDetails-root {
    fill: #333 !important;
    border-color: #ddd !important;
}