.isactives{
    background: #606491 !important;
    vertical-align: middle;
}
.breadCrumbs li a.isactives:after {
    border-left-color: #606491 !important;
}
.breadCrumbs{
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #FFF;
    list-style: none;
    overflow: hidden;
    height: 43px;
    align-items: center;
}
.breadCrumbs li{
    float: left
}
.breadCrumbs>li{
    margin-right: 14px;
}

.breadCrumbs li a:after {
    content: " ";
    display: block;
    width: 0 ;
    height: 0 ;
    border-top: 50px solid transparent ;
    border-bottom: 50px solid transparent ;
    border-left: 30px solid #394578 ;
    position: absolute ;
    top: 50% ;
    margin-top: -50px ;
    left: 100% ;
    z-index: 2 ;
}
.breadCrumbs li a {
    color: #FFF;
    text-decoration: none;
    padding: 18px 0 10px 35px;
    background: brown;
    background: #394578;
    position: relative;
    display: block;
    float: left;
    font-size: 11px;
}
.breadCrumbs li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.bread_stic{
    position: fixed !important;
    z-index: 1000!important;
    top: 89px!important;
    width: 100%!important;

}
