.text-f {
    width: 98% !important;
    float: right;
    border: none !important;
    cursor: pointer !important;
}

.MuiInputBase-input {
    border: none !important;
}

.card-adrs {
    padding: 0 10px !important;
    padding-top: 10px !important;
    border: 1px solid #E6E6E6;
    margin-top: 20px;
    box-shadow: rgb(222, 218, 218) 1px 2px 6px 0px !important;
}

.title {
    color: #394578 !important;
}

.card-title {
    margin: 0 0 10px !important;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 10px !important;
    font-size: 18px !important;
}

.address-name {
    padding-left: 5px !important;
    font-size: 18px !important;
    color: #394578 !important;
}

.delete-icon {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    font-size: 25px !important;
    color: #394578 !important;
}

.detils-p {
    font-size: 15px;
    line-height: 25px;
}

.card-foo {
    border-top: 1px solid #E6E6E6;
    font-size: 14px !important;
    margin-top: 20px;
}

.shipping-phonenumber {
    font-size: 15px;
    line-height: 40px !important;
}

.add-new-address {
    background: #FFF !important;
    border: 1px solid #394578 !important;
    box-shadow: none !important;
    padding-left: 45px !important;
    min-width: 100px !important;
    font-size: 16px !important;
    margin-top: 15px !important;
    text-transform: none !important;
}

.add-new-address div {
    position: absolute !important;
    width: 24px !important;
    height: 23px !important;
    background: url(https://assets.stylori.com/images/static/icon-map.png) no-repeat !important;
    left: 10px !important;
    top: 7px !important;
}

.wd {
    width: 93% !important;
    overflow: auto !important;
}

.ckcut-main-body {
    background: #fff !important;
    margin-bottom: 5px !important;
}

.arrow-chek {
    font-size: 24px !important;
}

.MuiExpansionPanelSummary-content {
    margin: 7px 0 !important;
}

.address_card_disabled {
    filter: grayscale(5) !important;
}

.modal_addrs_dlt {
    padding: 20px !important;
    text-align: center !important;
    /* margin-top: 20% !important; */
    width: 300px !important;
    height: auto !important;
    background: #fff !important;
    margin-top: 10% !important;
    /* margin-left: 40% !important; */
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    /* position: absolute !important; */
}

.dlt_content {
    font-size: 15px !important;
    color: #394578 !important;
    margin-bottom: 5px;
    width: 100%;
}

.addres_dlt_cancel {
    border: 1px solid #394578 !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 4px 1px !important;
    border-radius: none !important;
    outline: none !important;
}

.addres_dlt_cancel:hover {
    padding: 4px 1px !important;
    color: #FFF !important;
    background: #394578 !important;
    font-weight: 100 !important;
    outline: none !important;
    text-transform: none !important;
}

.addres_dlt_ok {
    font-size: 10px !important;
    padding: 4px 1px !important;
    width: 100px !important;
    color: #FFF !important;
    background: #394578 !important;
    font-weight: 100 !important;
    outline: none !important;
    text-transform: none !important;
}