#loadings {
  display: block;
  margin: auto;
  /* background-image: url("https://alpha-assets.stylori.com/images/static/loadingimg.gif"); */
  background-repeat: no-repeat;
  background-position: center;
}

.one-day-ship-listing-page {
  width: 24px;
  height: 22px;
  margin-left: 4px;
  margin-top: 28px;
  /* z-index: 2; */
  position: absolute;
  top: 15px;
  /* background-image: url('https://alpha-assets.stylori.com/images/static/product-details-icons.png'); */
  /* top: 5px; */
  background-position: -102px -37px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #ed1165 !important;
}

.one-day-ship-listing-page-withoutTop {
  width: 24px;
  height: 22px;
  margin-left: 4px;
  margin-top: 2px;
  /* z-index: 2; */
  position: absolute;
  top: 15px;
  /* background-image: url('https://alpha-assets.stylori.com/images/static/product-details-icons.png'); */
  /* top: 5px; */
  background-position: -102px -37px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #ed1165 !important;
}

.one-day-ship-listing-page-label {
  display: none;
}

.one-day-ship-listing-page-withoutTop-label {
  display: none;
}

.wishListStyle {
  margin-left: 4px;
  margin-top: 2px;
  z-index: 10;
  position: absolute;
  top: 15px;
  right: 17px
}

@media only screen and (max-width:580px) and (min-width:540px) {
  .one-day-ship-listing-page {
    width: 24px;
    height: 22px;
    margin-left: 4px;
    margin-top: 2px;
    /* z-index: 2; */
    position: absolute;
    top: 15px;
    left: 12px;
    /* background-image: url('https://alpha-assets.stylori.com/images/static/product-details-icons.png'); */
    /* top: 5px; */
    background-position: -102px -37px;
    color: #ed1165 !important;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.wishListStyle i {
  font-size: 18px;
}

@media only screen and (max-width:425px) {
  .wishListStyle i {
    font-size: 15px
  }
}

@media only screen and (max-width:610px) and (min-width:581px) {
  .one-day-ship-listing-page {
    left: 20px;
  }
}

@media only screen and (max-width:715px) and (min-width:610px) {
  .one-day-ship-listing-page {
    left: 30px;
  }
}

@media only screen and (max-width:759px) and (min-width:715px) {
  .one-day-ship-listing-page {
    left: 40px;
  }
}

@media only screen and (max-width:1500px) and (min-width:1400px) {
  .one-day-ship-listing-page {
    left: 15px;
  }


}

@media only screen and (max-width:1540px) and (min-width:1500px) {
  .one-day-ship-listing-page {
    left: 20px;
  }

  .wishListStyle {
    right: 20px
  }
}

@media only screen and (max-width:1700px) and (min-width:1541px) {
  .one-day-ship-listing-page {
    left: 35px;
  }

  .wishListStyle {
    right: 24px
  }
}

@media only screen and (max-width:1999px) and (min-width:1701px) {
  .one-day-ship-listing-page {
    left: 25px;
    top: 17px
  }

  .wishListStyle {
    right: 26px
  }
}

@media only screen and (max-width:2500px) and (min-width:2000px) {
  .one-day-ship-listing-page {
    left: 60px;
  }

  .wishListStyle {
    right: 30px
  }
}

@media only screen and (max-width:2560px) and (min-width:2501px) {
  .one-day-ship-listing-page {
    left: 25px;
    padding-top: 2px
  }

  .wishListStyle {
    right: 26px;
    padding-top: 2px
  }
}

@media only screen and (max-width:610px) and (min-width:581px) {
  .one-day-ship-listing-page-withoutTop {
    left: 20px;
  }
}

@media only screen and (max-width:715px) and (min-width:610px) {
  .one-day-ship-listing-page-withoutTop {
    left: 30px;
  }
}

@media only screen and (max-width:759px) and (min-width:715px) {
  .one-day-ship-listing-page-withoutTop {
    left: 40px;
  }
}

@media only screen and (max-width:1500px) and (min-width:1400px) {
  .one-day-ship-listing-page-withoutTop {
    left: 15px;
  }


}

@media only screen and (max-width:1540px) and (min-width:1500px) {
  .one-day-ship-listing-page-withoutTop {
    left: 20px;
  }

}

@media only screen and (max-width:1700px) and (min-width:1541px) {
  .one-day-ship-listing-page-withoutTop {
    left: 35px;
  }


}

@media only screen and (max-width:1999px) and (min-width:1701px) {
  .one-day-ship-listing-page-withoutTop {
    left: 25px;
    top: 17px
  }


}

@media only screen and (max-width:2500px) and (min-width:2000px) {
  .one-day-ship-listing-page-withoutTop {
    left: 60px;
  }
}

@media only screen and (max-width:2560px) and (min-width:2501px) {
  .one-day-ship-listing-page-withoutTop {
    left: 25px;
    padding-top: 2px
  }


}

.MuiCardActions-spacing>*+* {
  margin-left: 0px !important;
  width: 100%
}

.one-day-ship-listing-page div {
  margin-left: 0px
}

.one-day-ship-listing-page-label:hover {
  display: block;
  color: #F699A3;
  font-size: 11px;
}

.overall-loaders {
  display: flex;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -490px 0;
  }

  100% {
    background-position: 490px 0;
  }
}

.shine {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  /* min-height:20px; */
  background-image: -webkit-linear-gradient(left,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%);
  background-size: 980px 898px;
  /* height: 898px; */
  position: relative;
}

.imgDiv {
  width: auto;
  height: auto;
  border: none;
}

.price {
  height: 20px;
  width: 100px;
}

.title {
  height: 40px;
  width: 100%;
  word-wrap: break-word;
  font-weight: bold !important;

}

.card-control {
  z-index: 2;
  position: absolute;
}

.card-control-topleft {
  top: 0px;
  left: 0px;
}

.card-control-bottomleft {
  bottom: 30%;
  left: 0px;
}

.card-control-topright {
  top: 0px;
  right: 0px;
}

.card-control-bottomright {
  bottom: 30%;
  right: 0px;
}

.productLayoutRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  /* background-color: whitesmoke; */
  height: 100%;
  /* height: 100vh; */
}

.productLayoutRootFull {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  /* background-color: whitesmoke; */
  /* height: 100%; */
  height: 100vh;
  background-color: #F699A3;
}

.productLayoutGridList {
  width: 100%;
  height: auto;
  /* text-align: center; */
}